.reactPageCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************ Full Object Window ************/

.skillContainer {
  display: grid;
  width: 652px;
  height: 334px;
  grid-template-columns: repeat(3, 185px);
  grid-template-rows: repeat(3, 110px);

  justify-content: space-around;
  align-items: center;
  color: #faf7f7;
  background-color: #4a4646;
  border-radius: 3px;
}

.lan {
  display: flex;
  flex-direction: column;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 184px;
  height: 62px;
  text-align: center;
  z-index: 1;

  background: #bc4ef0;
  border-radius: 4px;
}

.rate {
  left: 40.52%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 92px;
  height: 62px;
  z-index: 2;
  margin-top: 5px;

  background: #63ca24;
  border-radius: 4px;
}

.lev {
  left: 54.25%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 92px;
  height: 62px;
  z-index: 3;

  background: #f1c115;
  border-radius: 4px;
}

/************ Language Window ************/

.lanContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 652px;
  height: 334px;
  color: #faf7f7;
  background-color: #c5bfbf;
  border-radius: 3px;
}

/************ Level Window ************/

.levelContainer {
  display: grid;
  width: 652px;
  height: 334px;

  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    ". . . ."
    "nodejs c . ."
    "mongodb python html5 ."
    "git react javascript css"
    "level2 level0 level1 level3";
  gap: 0px 1px;
  align-items: center;
  justify-content: center;

  background-color: #f1f1f1;
  border-radius: 3px;
  text-align: center;
}

#level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.level0 {
  width: 152px;
  height: 35px;
  left: 21px;
  top: 273px;

  background: #f1c115;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #fffbfb;
  grid-area: level0;
}

.level1 {
  width: 152px;
  height: 35px;
  left: 21px;
  top: 273px;

  background: #f1c115;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #fffbfb;
  grid-area: level1;
}

.level2 {
  width: 152px;
  height: 35px;
  left: 21px;
  top: 273px;

  background: #f1c115;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #fffbfb;
  grid-area: level2;
}

.level3 {
  width: 152px;
  height: 35px;
  left: 21px;
  top: 273px;

  background: #f1c115;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #fffbfb;
  grid-area: level3;
}

.nodejs {
  grid-area: nodejs;
  place-self: end center;
}

.mongodb {
  grid-area: mongodb;
  place-self: end center;
}

.git {
  grid-area: git;
  place-self: end center;
}

.python {
  grid-area: python;
  place-self: end center;
}

.react {
  grid-area: react;
  place-self: end center;
}

.c {
  grid-area: c;
  place-self: end center;
}

.javascript {
  grid-area: javascript;
  place-self: end center;
}

.html5 {
  grid-area: html5;
  place-self: end center;
}

.css {
  grid-area: css;
  place-self: end center;
}

/************ Button Controls ************/
.buttonControls {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  grid-template-rows: repeat(2, 40px);
  grid-template-areas:
    "BA BB BC"
    "titleA titleB titleC";
  align-items: baseline;
  justify-content: space-around;
  width: 393px;
  height: 100px;

  background: #969595;
  border-radius: 4px;
  margin-top: 25px;
}

.buttonA {
  width: 35px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 15px;
  grid-area: BA;

  background: #e97d1a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 18px;
  transition: filter 300ms;
}

.buttonA:hover {
  background: #e97d1a;
  filter: brightness(1.2);
  border-color: #f1f1f1;
}

.buttonB {
  width: 35px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 15px;
  grid-area: BB;

  background: #0fb3e7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  transition: filter 300ms;
}

.buttonB:hover {
  background: #0fb3e7;
  filter: brightness(1.2);
  border-color: #f1f1f1;
}

.buttonC {
  width: 35px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 15px;
  grid-area: BC;

  background: #da3cb7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: filter 300ms;
}

.buttonC:hover {
  background: #da3cb7;
  filter: brightness(1.2);
  border-color: #f1f1f1;
}
